#login {
  .tabs {
    border: none;

    .tabs-title {
      a {
        padding: 10px 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 300;

        &:nth-of-type(1) {
          margin-right: 20px;
        }
      }
    }

    .tabs-title > a:focus,
    .tabs-title > a[aria-selected="true"] {
      background: none;
      border-bottom: 2px solid #000;
    }
  }

  .tabs-content {
    border: none;

    .tabs-panel {
      padding: 20px 0 0;

      .input {
        input {
          box-shadow: none;
          font-size: 14px;
        }
      }

      input[type="submit"] {
        margin-bottom: 0;
      }
    }
  }
}
