@import "normalize.css/normalize.css";
@import "foundation-sites/dist/css/foundation.css";

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  background: #f2f2f2;
  position: relative;

  h1,
  h2 {
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    font-size: 36px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
  }

  &.index_page {
    .content {
      padding-top: 0;
    }
  }

  .head {
    margin-bottom: 30px;

    h1 {
      font-size: 34px;
      line-height: 44px;
      font-weight: 300;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
}

* {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px;
  font-weight: 300;

  &:focus {
    outline: none;
  }
}
