body {
    nav.nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        padding: 15px 0;
        .top-bar {
            display: flex !important;
            background: none;
            padding: 10px 0;
            .menu {
                background: none;
                li {
                    margin-right: 30px;
                    a {
                        color: #000;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 10px 0;
                    }
                    &:nth-last-of-type(1) {
                        margin-right: 0;
                    }
                }
            }
        }
        .title-bar {
            display: none !important;
        }
    }
    &.index_page {
        nav.nav {
            .top-bar {
                .menu {
                    li {
                        a {
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}
