.decks_page {
    .decks {
        display: flex;
        flex-direction: row;
        .block {
            width: 45%;
            margin-right: 10%;
            &:nth-of-type(2) {
                margin-right: 0;
            }
            h2 {
                font-size: 16px;
                text-align: center;
                background: #000;
                color: #FFF;
                text-transform: uppercase;
                padding: 10px 0;
                margin-bottom: 15px;
            }
            .accordion {
                .accordion-item {
                    .accordion-title {
                        color: #000;
                        font-size: 16px;
                    }
                    .accordion-content {
                        .sub_block {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 10px;
                            .image_block {
                                width: 15%;
                                img {
                                    width: 100%;
                                }
                            }
                            .text_block {
                                width: 85%;
                                padding: 0 20px;
                                .header {
                                    font-size: 18px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}