.new_deck_page {
    form {
        display: flex;
        flex-direction: row;
        .left_side {
            width: 25%;
            .button {
                margin-top: 10px;
            }
        }
        .right_side {
            width: 73%;
            margin-left: 2%;
            .cell {
                padding-right: 20px;
            }
            trix-toolbar {
                .button_group {
                    button {
                        background: #FFF;
                    }
                }
            }
            trix-editor {
                min-height: 150px;
                margin-bottom: 10px;
                background: #FFF;
                color: #000;
            }
            .tabs {
                display: inline-block;
                .tabs-title {
                    a {
                        padding: 2px;
                        img {
                            width: 52px;
                        }
                    }
                    &.is-active {
                        a {
                            box-shadow: inset 0 0 0 2px #2199e8;
                        }
                    }
                }
            }
            .tabs-content {
                border: none;
                background: none;
                .tabs-panel {
                    padding: 0;
                    .costs {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

#mana_curve {
    height: 140px;
    margin-bottom: 10px;
    .col {
        float: left;
        width: 20px;
        height: 140px;
        margin-right: 5px;
        position: relative;
        .count {
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            text-align: center;
            color: #FFF;
            text-shadow: 1px 1px 1px #000;
        }
        .inner_col {
            width: 20px;
            height: 100px;
            margin-top: 20px;
            box-shadow: inset 0 0 10px #000;
            .filled {
                width: 20px;
                height: 0;
                background: #FF8000;
                box-shadow: inset 0 0 10px #000;
                position: absolute;
                bottom: 20px;
                left: 0;
            }
        }
        .mana_col {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            background-size: 100% 100%;
            &.mana_0 {
                background-image: image-url('mana_0.png');
            }
            &.mana_1 {
                background-image: image-url('mana_1.png');
            }
            &.mana_2 {
                background-image: image-url('mana_2.png');
            }
            &.mana_3 {
                background-image: image-url('mana_3.png');
            }
            &.mana_4 {
                background-image: image-url('mana_4.png');
            }
            &.mana_5 {
                background-image: image-url('mana_5.png');
            }
            &.mana_6 {
                background-image: image-url('mana_6.png');
            }
            &.mana_7 {
                background-image: image-url('mana_7.png');
            }
        }
    }
}