@import 'https://fonts.googleapis.com/css?family=Lora';

* {
    font-family: 'Lora', sans-serif !important;
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #000;
    .inside {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        background-image: url('background.jpeg');
        background-size: cover;
        background-position: center;
        .shadow {
            position: fixed;
            //background: rgba(0, 0, 0, 0.1);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .block {
        background: #FFF;
        margin: 10px 0;
        padding: 10px;
    }
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: #2199e8;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
}

#cards_collection, #new_deck {
    .tabs-panel {
        overflow: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            height: 6px;
        }
        &::-webkit-scrollbar-track {
            -webkit-border-radius: 6px;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 6px;
            border-radius: 6px;
            background: #2199e8;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .inside_panel {
            width: 1600px;
            .costs {
                float: left;
                width: 12.5%;
                p:nth-of-type(1) {
                    text-align: center;
                    color: #FFF;
                    background: #2199e8;
                    padding: 5px 0;
                    margin: 0 auto 10px;
                    width: 90%;
                }
                input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                }
                label {
                    font-size: 15px;
                    display: block;
                    margin: 0;
                    padding-left: 25px;
                    background-position: 0 3px;
                    &.none {
                        background-image: image-url('uncheck.png');
                        background-repeat: no-repeat;
                    }
                    &.single {
                        background-image: image-url('single.png');
                        background-repeat: no-repeat;
                    }
                    &.double {
                        background-image: image-url('double.png');
                        background-repeat: no-repeat;
                    }
                    &.legendary {
                        color: orange;
                    }
                }
            }
        }
    }
    .button {
        margin: 0;
    }
}

#new_deck {
    background: #FFF;
    padding: 10px;
    margin: 10px 0;
    input, select {
        font-size: 0.8rem;
        height: 2.5rem;
    }
    .button {
        margin: 0 10px 0 0;
    }
}

.ui-widget {
    font-size: 0.8rem !important;
}

#decks, #deck {
    background: #FFF;
    padding: 10px;
    margin: 10px 0;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    .deck {
        float: left;
        width: 20%;
        padding: 10px;
        p {
            margin: 0;
            .button {
                margin: 0 10px 0 0;
            }
        }
    }
}

#deck {
    .card {
        float: left;
        width: 16.5%;
        p {
            margin: 0;
        }
        p:nth-of-type(2) {
            text-align: center;
            color: #FFF;
            background: #2199e8;
            padding: 5px 0;
            margin: 0 auto 10px;
            width: 50%;
        }
    }
}

#account-tabs {
    margin-top: 10px;
    border: none;
}

.tabs {
    .tabs-title {
        a {
            color: #000;
        }
    }
    .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
        background: #2199e8;
        color: #FFF;
    }
}

.tabs-content {
    margin-bottom: 10px;
}

#checks, #decks {
    .button {
        margin: 0 10px 0 0;
    }
    tbody th, tbody td {
        padding: 5px 10px;
    }
}